
.container { 
    text-align: center;
}

.inner {
    width: 70vw;
    min-height: 80vh;
    margin: 0 auto;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.inner .item {
    display: inline-block;
    margin: 0;
    width: 25%;
    height: 20vh;
    border: 1px solid;
    box-sizing: border-box;
}

.color1 { background-color: tomato;}
.color2 { background-color: cornflowerblue;}
.color3 { background-color: mediumaquamarine;}
.color4 { background-color: slateblue;}

.color5 { background-color: #f7b731;}
.color6 { background-color: #2bcbba;}
.color7 { background-color: #d1d8e0;}
.color8 { background-color: #4b6584;}

.color9 { background-color: rgb(243, 104, 224);}
.color10 { background-color: rgb(52, 31, 151);}
.color11 { background-color: rgba(250, 177, 160, 1);}
.color12 { background-color: rgba(116, 185, 255, 0.3);}

.color13 { background-color: hsl(147, 50%, 47%);}
.color14 { background-color: hsl(248, 53%, 58%);}
.color15 { background-color: hsla(9, 100%, 64%, 0.2);}
.color16 { background-color: hsla(9, 100%, 64%, 0.8);}